<ion-header [translucent]="true">
  <ion-back-button defaultHref="/home-page" slot="start"></ion-back-button>
  <ion-toolbar>
    <ion-title>Your Pickups</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-buttons>
      <ion-button>Pull to refresh</ion-button>
      <ion-fab-button (click)="openModal()" size="small" color="primary" slot="end">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-buttons>
 <app-pickup-card *ngFor="let pickup of pickups" [pickup]="pickup" [routerLink]="pickup.id"></app-pickup-card>
</ion-content>

