<ion-card>
  <ion-card-content>
    <ion-item lines="none" slot="start">
      <ion-icon *ngIf="pickup.status == 'hold'" name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-icon *ngIf="pickup.status == 'Processing'" name="archive-outline" slot="start" color="secondary"></ion-icon>
      <ion-icon *ngIf="pickup.status == 'Finished'" name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <span *ngIf="pickup.status == 'hold'">On hold</span>
        <span *ngIf="pickup.status == 'Processing'">Processing</span>
        <span *ngIf="pickup.status == 'Finished'">Finished</span>
        <p>Created at {{pickup.createdAt}}</p>
        <p>Updated at: {{pickup.updatedAt}}</p>
        <p>Notes: {{pickup.notes}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
