<ion-card>
  <ion-card-content>
    <ion-item lines="none" slot="start">
      <ion-icon *ngIf="pickup.status == 'hold'" name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-icon *ngIf="pickup.status == 'processing'" name="archive-outline" slot="start" color="secondary"></ion-icon>
      <ion-icon *ngIf="pickup.status == 'finished'" name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        <span *ngIf="pickup.status == 'hold'">On hold</span>
        <span *ngIf="pickup.status == 'processing'">Processing</span>
        <span *ngIf="pickup.status == 'finished'">Finished</span>
        <p>Created at {{pickup.createdAt}}</p>
        <p>Address: {{pickup.address}}</p>
        <p>City:{{pickup.city}}</p>
        <p>Zip: {{pickup.zip}}</p>
        <p>Notes card: {{pickup.notes}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
