<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to HERS!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <img src="../assets/pickup.jpg" />  
  <ion-text  color="primary">
   <h3> With today’s customer expectations, scheduled delivery does not have to be slow, and should definitely be convenient. </h3>
  </ion-text>
  <ion-text color="tertiary">
   <h2> What is scheduled delivery?</h2>
  </ion-text>
  <ion-text  color="primary">
  <h3>Scheduled delivery is a method of shipping that plans the date of delivery based on a fixed time window that is convenient for the shipper,
     the carrier or the consignee. The delivery date may be set by the shipper or carrier or selected by the consignee from a range of one or more delivery options.</h3>
  </ion-text>
</ion-content>
